body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(42, 44, 46);
}

header{
    background: black;
    color: white;
    display: flex;
    justify-content: center;
}

header div {
    display: flex;
    max-width: 1200px;
}

header img {
    height: 80px;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    display: flex;
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 2px solid ;
    border-radius: 18px;
}

nav ul li a:hover {
    background-color: rgb(192, 184, 73);
}

.containerescudos {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(200px, 1fr)
    );
    gap: 16px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 30px;
}

.escudos {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.escudos img {
    width: 200px;
    height: 200px;
}

/*TABLA HISTORICA*/


.containertabla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 700px;
    max-width: 1200px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
}

.titulotabla {
    background: rgb(101, 108, 122);
    grid-column: 1 / 4;
    text-align: center;
    color: ;
}

.titulotabla div{
    display: flex;
    justify-content: space-around;
    background:
    rgb(178, 178, 184);
}

.tablapuntos {
    background: rgb(101, 108, 122);
}

.tablapuntos p {
    margin-left: 100px;
}

.equipos {
    background: rgb(101, 108, 122);
}

.puntos {
    text-align: end;
    background: rgb(101, 108, 122);
}

.puntos p {
    margin-right: 110px;
}

.prueba {
    color: white;
}

/*equipos*/

.containerequipos {
    color: white;
}

.containerequipos div {
    max-width: 1200px;
    margin: auto;
}

.containerequipos h1 {
    margin: 50px 0 30px 0;
    font-size: 30px;
}



.containerequipos img {
    width: 200px;
    margin: 30px 100px;
}
/*HISTORIA*/

.faq{
    max-width: 800px;
    margin: auto;
}

.faq h1 {
    position: relative;
    background: yellow;
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.faq p {
    background: yellow;
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;
}

/*FOOTER*/

.containerfooter {
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    background-color: black;
}

.containerfooter h2 {
    grid-column: 1 / 3;
    color: white;
    text-align: center;
    max-width: 1200px;
    margin: auto;
    margin-top: 15px;
}

.containerfooter .redes {
    margin: 30px 15px 20px 250px;
}

.containerfooter .redes a {
    border: 1px solid white;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
}

.containerfooter .redes a img {
    height: 100%;
}

.containerfooter a:hover {
    background-color: rgb(192, 184, 73);
}

.imgfooter {
    width: 100px;
    margin: 5px 100px 10px 210px;
}

.iconos {
    width: 15px;
    margin-right: 10px;
}

@media (max-width:650px){
    
}