body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(42, 44, 46);
}

header{
    background: black;
    color: white;
    display: flex;
    align-items: center;
}

header img {
    margin: 10px 0 20px 140px;
    height: 80px;
    margin-right: 300px;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 2px solid ;
    border-radius: 18px;
}

nav ul li a:hover {
    background-color: rgb(192, 184, 73);
}

.containerescudos {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(200px, 1fr)
    );
    gap: 16px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 30px;
}

.escudos {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.escudos img {
    width: 200px;
    height: 200px;
}

/*TABLA HISTORICA*/

/*.tabla {
    display: grid;
    grid-template-columns: 1fr;
    width: 300px;
    margin: auto;
    margin-top: 20px; 
}

.tabla div {
    background: black;
    color: white;
    text-align: center;
    margin-top: 2px;
}*/

.containertabla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 700px;
    margin: auto;
    margin-top: 25px;
}

.titulotabla {
    background: rgb(101, 108, 122);
    grid-column: 1 / 4;
    text-align: center;
    color: ;
}

.titulotabla div{
    display: flex;
    justify-content: space-around;
    background:
    rgb(178, 178, 184);
}

.tablapuntos {
    background: rgb(101, 108, 122);
}

.tablapuntos p {
    margin-left: 100px;
}

.equipos {
    background: rgb(101, 108, 122);
}

.puntos {
    text-align: end;
    background: rgb(101, 108, 122);
}

.puntos p {
    margin-right: 110px;
}

.prueba {
    color: white;
}